<!DOCTYPE html>
<html>
{include file="/admin/head"/}
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>留言列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <input type="text" name="name" value="{$name ?? ''}" placeholder="请输入留言者姓名" class="layui-input">
                                </div>
                                <div class="layui-input-inline">
                                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">搜索</button>
                                </div>
                                <a href="/cms/message" class="layui-btn">刷新</a>
                            </div>
                        </form>
                        
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>分类ID</th>
                                <th>姓名</th>
                                <th>电话</th>
                                <th>处理状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="data" id="vo" empty="<tr><td colspan=5>暂无数据</td></tr>"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>
                                    {$vo.tel}
                                </td>
                                <td align="center">
                                    {eq name="vo.checkinfo" value="1"}
                                    <img src="__static__/no.png" onclick="goodsCatBoo('{$vo.id}',1,'status',this)" style="display: none">
                                    <img src="__static__/yes.png" onclick="goodsCatBoo('{$vo.id}',0,'status',this)">
                                    {else\}
                                    <img src="__static__/no.png" onclick="goodsCatBoo('{$vo.id}',1,'status',this)">
                                    <img src="__static__/yes.png" onclick="goodsCatBoo('{$vo.id}',0,'status',this)" style="display: none">
                                    {/eq}
                                </td>
                                <td>
                                    <a class="layui-btn layui-btn-xs" onclick="addCat(1,'{$vo}')">修改</a>
                                    <a class="layui-btn layui-btn-xs layui-btn-danger" onclick="delCat('{$vo.id}',this)">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                         {$data|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="goods_cat_add_modal" hidden>
    <div style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="car_form">
            <input type="number" name="id" hidden>

            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" lay-reqtext="请输入姓名" class="layui-input" maxlength="150" readonly="">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-block">
                    <input type="text" name="tel" lay-verify="required" lay-reqtext="请输入电话" class="layui-input" maxlength="150" readonly="">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">地址：</label>
                <div class="layui-input-block">
                  <input type="text" name="address" lay-verify="required" lay-reqtext="请输入地址" class="layui-input" maxlength="150" readonly="">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">邮箱：</label>
                <div class="layui-input-block">
                  <input type="text" name="email" lay-verify="required" lay-reqtext="请输入邮箱" class="layui-input" maxlength="150" readonly="">
                </div>
            </div>
             <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">留言内容：</label>
                <div class="layui-input-block" style="min-height: 60px;">
                  <textarea name="content" placeholder="留言内容" class="layui-textarea"  lay-verify="" lay-reqtext="留言内容"  maxlength="250" readonly=""></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">处理状态</label>
                <div class="layui-input-block">
                    <select name="checkinfo" class="checkinfo">
                        <option value="">是否显示</option>
                        <option value="1">已处理</option>
                        <option value="0">未处理</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="add_goods_cat">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{include file="/admin/footer"/}
<script>
    var form
    layui.use(['form','layer'], function() {
        form = layui.form
        form.on('submit(add_goods_cat)',function (data) {
            var _data = data.field
            var load_index = layer.load(1, {
                shade: [0.5,'#000'] //0.1透明度的背景
            });
            $.ajax({
                type : "post",
                url : adminOrigin() + "message/add",
                data : _data,
                success : function(res) {
                    res = JSON.parse(res)
                    if(res.code==0){
                        layer.msg('操作成功',{
                            time:500,
                            offset:'t'
                        },function () {
                            location.reload()
                        })
                    }
                    else
                        layer.msg(res.msg,{offset:'t'})
                    layer.close(load_index)
                },
                error : function () {
                    layer.msg('网络异常',{offset:'t'})
                    layer.close(load_index)
                }
            })
            return false
        })
    })
    function delCat(id,obj) {
        layer.confirm('确定删除此分类',{btn:'确定',title:'请确认'},function () {
            var load_index = layer.load(1, {
                shade: [0.5,'#000'] //0.1透明度的背景
            });
            $.ajax({
                type : "post",
                url : adminOrigin() + "message/del",
                data : {
                    id:id
                },
                success : function(res) {
                    res = JSON.parse(res)
                    if(res.code==0){
                        layer.msg('操作成功',{
                            time:500,
                            offset:'t'
                        },function () {
                            $(obj).parent().parent().remove()
                        })
                    }
                    else
                        layer.msg(res.msg)
                    layer.close(load_index)
                },
                error : function () {
                    layer.msg('网络异常')
                    layer.close(load_index)
                }
            })
        })
    }
    function goodsCatBoo(id,status,content,obj) {
        $.ajax({
            type : "post",
            url : adminOrigin() + "message/status",
            data : {
                id:id,
                status:status,
            },
            success : function(res) {
                res = JSON.parse(res)
                if(res.code==0){
                    $(obj).hide()
                    if(status == 1)
                        $(obj).next().show()
                    else
                        $(obj).prev().show()
                }
                else
                    layer.msg(res.msg,{offset:'t'})
            },
            error : function () {
                layer.msg('网络异常',{offset:'t'})
            }
        })
    }
    function catSort(id,obj) {
        let sort = $(obj).val()
        var load_index = layer.load(1, {
            shade: [0.5,'#000'] //0.1透明度的背景
        });
        $.ajax({
            type : "post",
            url : adminOrigin() + "message/sort",
            data : {
                id:id,
                sort:sort
            },
            success : function(res) {
                res = JSON.parse(res)
                if(res.code==0){
                    layer.msg('操作成功',{
                        time:500,
                        offset:'t'
                    },function () {

                    })
                }
                else
                    layer.msg(res.msg,{offset:'t'})
                layer.close(load_index)
            },
            error : function () {
                layer.msg('网络异常',{offset:'t'})
                layer.close(load_index)
            }
        })
    }

    function addCat(is_edit,obj) {
        layer.open({
            type: 1,
            title:'分类编辑',
            content:$('.goods_cat_add_modal'),
            shadeClose:true,
            area:['50%','auto'],
            shade: [0.8, '#393D49'],
            success: function () {
                var str_pic = ''
                var str_icon = ''
                if(is_edit) {
                    obj = JSON.parse(obj)
                    form.val('car_form',{
                        "id":obj.id
                        ,"name":obj.name
                        ,"tel":obj.tel
                        ,"checkinfo":obj.checkinfo
                        ,"address":obj.address
                        ,"email":obj.email
                        ,"content":obj.content
                        ,"posttime":obj.posttime
                    })
                    $(".checkinfo").val(obj.checkinfo);
                }else {
                    form.val('car_form',{
                        "id":0
                        ,"title":''
                        ,"sort":''
                        ,"checkinfo":1
                        ,"address":''
                        ,"email":''
                        ,"content":''
                        ,"posttime":''
                    })
                }
                $(".checkinfo").val(1);
            }
        })
    }
</script>
</body>
</html>
