<!DOCTYPE html>
<html>
{include file="/admin/head"/}
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新闻编辑</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">新闻图片：</label>
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn layui-btn-normal" onclick="chooseImg('picurl',1)"><i class="layui-icon"></i>选择图片
                                    </button>
                                    <span class="pic_span_picurl">
                                    </span>
                                </div>
                                <label class="layui-form-label"></label>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">新闻分类：</label>
                                <div class="layui-input-block">
                                    <select name="nc_id" lay-filter="nc_id" lay-verify="required" lay-reqtext="请选择新闻分类">
                                        <option value="">请选择新闻分类</option>
                                        {volist name="cats" id="vo"}
                                        <option value="{$vo.nc_id}" >{$vo.title}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新闻名称：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" lay-verify="required" lay-reqtext="请输入新闻名称" class="layui-input" maxlength="250">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">详情内容：</label>
                                <div class="layui-input-block">
                                    <script id="editor" type="text/plain" style="width:100%;height:400px;"></script>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">排    序：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="sort" value="{$data.sort ?? '0'}" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">关键词：</label>
                                <div class="layui-input-block">
                                  <textarea name="keywords" placeholder="请输入关键词" class="layui-textarea"  lay-verify="" lay-reqtext="请输入关键词" maxlength="250"></textarea>
                                </div>
                            </div>
                             <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">描述：</label>
                                <div class="layui-input-block">
                                  <textarea name="description" placeholder="请输入描述" class="layui-textarea"  lay-verify="" lay-reqtext="请输入描述"  maxlength="250"></textarea>
                                </div>
                            </div>
                          
                            <div class="layui-form-item">
                                <label class="layui-form-label">展    示：</label>
                                <div class="layui-input-block">
                                    <select name="checkinfo">
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                           

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="add_news">立即提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="/admin/footer"/}
{include file="/admin/album/open"/}
<script>
    layui.use(['form','layer'], function() {
        var form = layui.form
        form.on('submit(add_news)',function (data) {
            var _data = data.field
            console.log(_data);
            var load_index = layer.load(1, {
                shade: [0.5,'#000'] //0.1透明度的背景
            });
            $.ajax({
                type : "post",
                url : adminOrigin() + "news/add",
                data : _data,
                success : function(res) {
                    res = JSON.parse(res)
                    if(res.code==0){
                        layer.msg('操作成功',{
                            time:500,
                        },function () {
                            window.location.href = '/cms/news'
                        })
                    }
                    else
                        layer.msg(res.msg)
                    layer.close(load_index)
                },
                error : function () {
                    layer.msg('网络异常')
                    layer.close(load_index)
                }
            })
            return false
        })


    })
    var ue = UE.getEditor('editor',{
    textarea:'content',
    zIndex:1
    });
     
</script>
</body>
</html>
