<script src="__static__/hplus_ui/js/jquery.min.js?v=2.1.4"></script>
<script src="__static__/hplus_ui/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__static__/hplus_ui/js/plugins/layer/layer.min.js"></script>
<script type="text/javascript" src="__static__/layui/layui.js"></script>
<script src="__static__/hplus_ui/js/content.min.js"></script>
<script src="__static__/hplus_ui/js/plugins/toastr/toastr.min.js"></script>
<script src="__static__/js/common_zhb.js"></script>
<script type="text/javascript" src="__static__/js/md5.js"></script>
<script type="text/javascript" src="__static__/uedit/ueditor.config.js"></script>
<script type="text/javascript" src="__static__/uedit/ueditor.all.min.js"></script>