<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>杭州帷拓科技有限公司管理后台</title>
    <link rel="shortcut icon" href="__static__/hplus_ui/favicon.ico">
    <link href="__static__/hplus_ui/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__static__/hplus_ui/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__static__/hplus_ui/css/animate.min.css" rel="stylesheet">
    <link href="__static__/hplus_ui/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="__static__/hplus_ui/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="__static__/layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" href="__static__/css/commom.css" media="all">
    <link rel="stylesheet" href="__static__/css/page.css?v1" media="all">
    <link href="//at.alicdn.com/t/font_2345205_qkqe1wys9ll.css" rel="stylesheet">
    
</head>