.accordion {
	width: 100%;
	padding: 0px 10px;
	margin: 0px auto 20px;
	background: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px;
	color: #333;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion .link a {
	color: #333;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	width: 18px;
	height: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa_right {
	right: 12px;
	left: auto;
	background: url(../images/flex-next.svg) no-repeat right;
	background-size: cover;
}

.accordion li i.fa_down {
	right: 12px;
	left: auto;
	background: url(../images/subnavjia.svg) no-repeat right;
	background-size: cover;
}

.accordion li.open i.fa_down {
	right: 12px;
	left: auto;
	background: url(../images/subnavjian.svg) no-repeat right;
	background-size: cover;
}


.accordion li.open .link {
	color: #015293;
}

.accordion li.open i {
	color: #015293;
}

.submenu {
	display: none;
	font-size: 14px;
}

.submenu li {
	display: inline-block;
}

.submenu a {
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #eee;
	color: #333;
	padding: 10px 20px;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.submenu a:hover {
	color: #015293;
}

/* navMenu */
.navMenubox {
	height: 100vh;
	margin: 0 auto;
	overflow-x: auto;
	width: 100%;
}

.navMenu-top {
	padding: 10px;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.navMenu>li {
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
}

.navMenu>li>a {
	display: block;
	overflow: hidden;
	padding-left: 10px;
	line-height: 40px;
	color: #666;
	transition: all .3s;
	position: relative;
	text-decoration: none;
	font-size: 14px;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
}

.navMenu>li>a>i {
	font-size: 20px;
	float: left;
	font-style: normal;
	margin: 0 5px;
}

.navMenu li a .arroww {
	display: block;
	float: right;
	margin-top: 12px;
	margin-right: 10px;
	width: 18px;
	height: 18px;
	background: url(../images/flex-next.svg);
	background-size: cover;
}

.navMenu li a .arrow {
	display: block;
	float: right;
	margin-top: 12px;
	margin-right: 10px;
	width: 18px;
	height: 18px;
	background: url(../images/subnavjia.svg);
	background-size: cover;
}

.navMenu li a .arrow.open {
	display: block;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	width: 18px;
	height: 18px;
	background: url(../images/subnavjian.svg);
	background-size: cover;
}

.navMenu>li>a.active,
.navMenu>li>a:hover {
	color: #333;
	background: #eee;
}

.navMenu>li>ul.sub-menu,
.navMenu>li>ul.sub-menu>li>ul.sub-menu {
	display: none;
	list-style: none;
	clear: both;
	padding-bottom: 5px;
}

.navMenu>li>ul.sub-menu li {
	background: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.navMenu>li>ul.sub-menu li>a {
	display: block;
	font-size: 13px;
	text-align: left;
	padding-left: 20px;
	color: #666;
	clear: both;
	text-transform: capitalize;
	box-sizing: border-box;
}
.navMenu>li>ul.sub-menu li>a>img{ width: 100%;}

.navMenu>li>ul.sub-menu li>a.active,
.navMenu>li>ul.sub-menu li>a:hover,
.navMenu>li>ul.sub-menu>li.active>a {
	color: #333;
	background: #ddd;
}


.navMenubox .language{ text-align: center; font-size: 15px; padding-top:20px;}