<!DOCTYPE html>
<html>
{include file="/admin/head"/}
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>权限管理</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <button class="layui-btn" onclick="addGroup()">新增分组</button>
                        <div class="layui-form">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="150">
                                    <col width="150">
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>角色组</th>
                                    <th>导航</th>
                                    <th>二级导航</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="groups" id="vo"}
                                <tr>
                                    <td rowspan="{$vo.row+1}">{$vo.name}
<!--                                        <button class="layui-btn layui-btn-xs layui-btn-danger" onclick="delGroup('{$vo.ag_id}')">删除</button>-->
                                    </td>
                                </tr>
                                {volist name="vo.navs" id="v"}
                                <tr>
                                    <td>
                                        {eq name="v.is_checked" value="1"}
                                        <input type="checkbox" name="nav" title="{$v.name}" value="{$v.an_id}" data-id="{$vo.ag_id}" lay-skin="primary" lay-filter="nav" checked>
                                        {else \}
                                        <input type="checkbox" name="nav" title="{$v.name}" value="{$v.an_id}" data-id="{$vo.ag_id}" lay-skin="primary" lay-filter="nav">
                                        {/eq}
                                    </td>
                                    <td>
                                        {volist name="v.subs" id="v1"}
                                        {eq name="v1.is_checked" value="1"}
                                        <input type="checkbox" name="sub" title="{$v1.name}" value="{$v1.ans_id}" data-id="{$vo.ag_id}" lay-skin="primary" lay-filter="sub" checked>
                                        {else \}
                                        <input type="checkbox" name="sub" title="{$v1.name}" value="{$v1.ans_id}" data-id="{$vo.ag_id}" lay-skin="primary" lay-filter="sub">
                                        {/eq}
                                        {/volist}
                                    </td>
                                </tr>
                                {/volist}
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add_group_modal" hidden>
    <br>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">分组名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="required" lay-reqtext="请输入分组名称"  placeholder="请输入分组名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="add_group">立即提交</button>
            </div>
        </div>
    </form>
</div>
{include file="/admin/footer"/}
<script>
    layui.use(['form', 'util', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer
            , util = layui.util
        form.on('submit(add_group)',function (data) {
            var _data = data.field
            $.ajax({
                type : "post",
                url : adminOrigin() + "group/add",
                data : _data,
                success : function(res) {
                    res = JSON.parse(res)
                    if(res.code==0){
                        layer.msg('操作成功',{
                            time:500,
                            offset:'t'
                        },function () {
                            location.reload()
                        })
                    }
                    else
                        layer.msg(res.msg,{offset:'t'})
                },
                error : function () {
                    layer.msg('网络异常',{offset:'t'})
                }
            })
            return false
        })
        form.on('checkbox(nav)', function(data){
            // console.log(data.elem); //得到checkbox原始DOM对象
            // console.log(data.othis); //得到美化后的DOM对象
            let ag_id=data.elem.dataset.id
            let an_id=data.value
            $.ajax({
                type : "post",
                url : adminOrigin() + "nav/permission/edit",
                data : {
                    ag_id:ag_id,
                    an_id:an_id
                },
                success : function(res) {
                    res = JSON.parse(res)
                    if(res.code==0){
                        layer.msg('操作成功',{
                            time:300
                        })
                    }
                    else
                        layer.msg(res.msg)
                },
                error : function () {
                    layer.msg('网络异常')
                }
            })
        });
        form.on('checkbox(sub)', function(data){
            let ag_id=data.elem.dataset.id
            let ans_id=data.value
            $.ajax({
                type : "post",
                url : adminOrigin() + "sub/permission/edit",
                data : {
                    ag_id:ag_id,
                    ans_id:ans_id
                },
                success : function(res) {
                    res = JSON.parse(res)
                    if(res.code==0){
                        layer.msg('操作成功',{
                            time:300
                        })
                    }
                    else
                        layer.msg(res.msg)
                },
                error : function () {
                    layer.msg('网络异常')
                }
            })
        });
    })

    function delGroup(ag_id) {
        layer.confirm('确定删除此分组？',{offset:'t'},function () {
            $.ajax({
                type : "post",
                url : adminOrigin() + "group/del/"+ag_id,
                success : function(res) {
                    res = JSON.parse(res)
                    if(res.code==0){
                        layer.msg('操作成功',{
                            time:500,
                            offset:'t'
                        },function () {
                            location.reload()
                        })
                    }
                    else
                        layer.msg(res.msg,{offset:'t'})
                },
                error : function () {
                    layer.msg('网络异常',{offset:'t'})
                }
            })
        })
    }
    function addGroup() {
        layer.open({
            type: 1,
            offset:'t',
            title:'新增分组',
            content:$('.add_group_modal'),
            shadeClose:true,
            area:['50%','50%'],
            shade: [0.8, '#393D49'],
        })
    }
</script>
</body>
</html>